{% if sections is defined %}
    <p>{{ 'simsy_cms.section.hint'|trans }}</p>

    <div class="form-check form-switch">
        <input class="form-check-input" onchange="document.getElementById('page-section-frame').classList.toggle('editing')"  type="checkbox" role="switch" id="page-body-edit-switch">
        <label class="form-check-label" for="page-body-edit-switch">{{ 'simsy_cms.full_edit_mode'|trans }}</label>
    </div>

    <div id="page-section-frame" data-page-id="{{ page.id }}">
        {% for section in sections %}
            {% include '@SimsyCMS/admin/section/_show.html.twig' %}
        {% endfor %}
    </div>
    <div class="block-select-frame"></div>

    <div class="btn btn-primary" id="page-section-add" data-url="{{ path('simsy_cms_admin_section_create', { id: page.id }) }}">{{ 'simsy_cms.section.add'|trans }}</div>
{% endif %}