<turbo-frame id="section-{{ sectionId }}-block-select-frame-{{ nextBlockId }}">
    <div class="block-selector">
        <div class="block-selector-add">
            <div class="block-selector-add-toggle"
                 onclick="document.getElementById('block-{{ sectionId }}-selector-blocks-{{ nextBlockId }}').classList.remove('d-none')">
                <i class="bi bi-plus"></i> {{ 'simsy_cms.block.add'|trans }}
            </div>
        </div>
        <div class="block-selector-blocks d-none" id="block-{{ sectionId }}-selector-blocks-{{ nextBlockId }}">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <div class="btn btn-sm btn-secondary mb-2 block-selector-add-close">{{ 'simsy_cms.close'|trans }} &times;
                        </div>
                    </div>
                    {% for block in blocks %}
                        <a href="{{ path('simsy_cms_admin_block_create', { sectionId: sectionId, blockClass: block.class, nextBlockId: nextBlockId }) }}"
                           class="block-selector-block">
                            <div class="row">
                                {% if block.image_src %}
                                    <div class="col-4">
                                        <img src="{{ asset(block.image_src) }}" alt="{{ block.name }}">
                                    </div>
                                {% endif %}
                                <div class="{{ block.image_src ? 'col-8' : 'col-12' }}">
                                    <p class="block-name">{{ block.name }}</p>
                                    <small class="block-description">{{ block.description }}</small>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</turbo-frame>