<turbo-frame id="section-{{ block.section.id }}-block-show-frame-{{ block.id }}">
    <turbo-frame id="section-{{ block.section.id }}-block-select-frame-{{ block.id }}"
                 src="{{ path('simsy_cms_admin_block_select', { sectionId: block.section.id, blockId: block.id }) }}"></turbo-frame>

    <div class="simsy-editor-block mt-4">
        <div class="simsy-editor-block-header">
            <div class="name">
                {{ blockConfig.name }} #{{ block.id }}
            </div>
            <div class="actions">
                <a href="{{ path('simsy_cms_admin_block_edit', { id: block.id }) }}"
                   class="text-black text-decoration-none ms-3 action">{{ 'simsy_cms.edit'|trans }}</a>
                <a href="{{ path('simsy_cms_admin_block_delete', { id: block.id }) }}"
                   class="text-black text-decoration-none ms-1 action"
                   data-turbo-prefetch="false">{{ 'simsy_cms.delete'|trans }}</a>
            </div>
        </div>
        {% include blockConfig.template_path %}
    </div>
</turbo-frame>