<turbo-frame id="section-{{ section.id }}-block-select-frame-{{ nextBlockId }}" class="block-form-frame">
    <div class="block-form mb-4">
        {{ form_start(form, { attr: { onsubmit: "this.parentNode.querySelector('.close-block-selector-toggle').click()" }}) }}

        <div class="block-form-edit-actions">
            <div class="name">{{ blockConfig.name }}</div>
            <a href="{{ path('simsy_cms_admin_block_select', { sectionId: section.id, nextBlockId: nextBlockId }) }}"
               class="btn btn-sm btn-secondary me-2 close-block-selector-toggle">{{ 'simsy_cms.cancel'|trans }} <i class="bi bi-x"></i></a>
            <button type="submit" class="btn btn-sm btn-primary">{{ 'simsy_cms.save'|trans }}
                <i
                        class="bi bi-floppy"></i></button>
        </div>

        {% if blockConfig.form_template_path is not null %}
            {% include blockConfig.form_template_path %}
        {% else %}
            {{ form_widget(form) }}
        {% endif %}

        {{ form_end(form) }}
    </div>
</turbo-frame>