<turbo-frame id="section-{{ block.section.id }}-block-show-frame-{{ block.id }}">
    <div class="my-3 p-3 border-dashed-secondary">
        {{ form_start(form) }}

        {{ form_widget(form) }}

        <div class="d-flex justify-content-between">
            <a href="{{ path('simsy_cms_admin_block_show', { id: block.id }) }}"
               class="btn btn-secondary">{{ 'simsy_cms.cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary"
                    onclick="this.parentNode.parentNode.querySelector('.close-block-selector-toggle').click()">{{ 'simsy_cms.save'|trans }}</button>
        </div>

        {{ form_end(form) }}
    </div>
</turbo-frame>