<div class="d-flex flex-column flex-shrink-0 p-3 bg-light height-100vh" style="width: 280px;" id="sidebar">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-4">Simsy CMS</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{{ path('simsy_cms_admin_page_search') }}" class="nav-link {{ 'simsy_cms_admin_page_' in app.request.get('_route') ? 'active' }}" aria-current="page">
                <i class="bi bi-house"></i>
                {{ 'simsy_cms.pages'|trans }}
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <div class="d-flex align-items-center link-dark text-decoration-none">
            <i class="bi {{ app.user ? 'bi-person-circle' : 'bi-person-dash' }} fs-1 me-2"></i>
            <strong>{{ app.user ? app.user.email : 'simsy_cms.security.unauthenticated'|trans }}</strong>
        </div>
    </div>
</div>