{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.description) }}
<button type="submit" class="btn btn-primary float-end {{ btnClass is defined ? btnClass }}">{{ 'simsy_cms.save'|trans }}</button>
{{ form_end(form) }}