<turbo-frame id="page-section-header-{{ section.id }}">
    <div class="simsy_cms_section_name" onclick="document.getElementById('page-section-header-{{ section.id }}-form').classList.toggle('d-none')">{{ section.name }} <i class="bi bi-pen"></i></div>
    <div class="card d-none" id="page-section-header-{{ section.id }}-form">
        <div class="card-body">
            {% include '@SimsyCMS/section/_form.html.twig' %}
            <div class="btn btn-secondary" onclick="document.getElementById('page-section-header-{{ section.id }}-form').classList.add('d-none')">{{ 'simsy_cms.close'|trans }}</div>
            {% include '@SimsyCMS/section/_delete_form.html.twig' %}
        </div>
    </div>
</turbo-frame>