<h3 class="mb-4">{{ 'simsy_cms.page.edit_configuration'|trans }}</h3>
{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}

<fieldset id="google-preview" class="simsy-section">
    <legend>Seo</legend>
    {{ form_row(form.seoTitle) }}
    {{ form_row(form.seoDescription) }}
    {{ form_row(form.seoKeywords) }}
    {{ form_row(form.url) }}
</fieldset>

<button type="submit" class="btn btn-primary float-end">{{ 'simsy_cms.save'|trans }}</button>
{{ form_end(form) }}