{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.description) }}

<fieldset id="google-preview" class="simsy-section">
    <legend>Seo</legend>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.seoTitle) }}
            {{ form_row(form.seoDescription) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.seoKeywords) }}
            {{ form_row(form.url) }}
        </div>
    </div>
</fieldset>

{% if sections is defined %}
    <fieldset class="simsy-section">
        <legend>Sections</legend>
        <p>Subdivide your content into sections to reuse them in other pages.</p>

        <div class="accordion" id="page-section-accordion" data-block-selection-html="{{ render(path('simsy_cms_block_select', { sectionId: '0' }))|escape('html_attr') }}" data-page-id="{{ page.id }}">
            {% for section in sections %}
                <div class="accordion-item" data-section-id="{{ section.id }}">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#sectionCollapseItem{{ section.id }}" aria-expanded="false"
                                aria-controls="sectionCollapseItem{{ section.id }}">
                            {{ section.name }}
                        </button>
                    </h2>
                    <div id="sectionCollapseItem{{ section.id }}" class="accordion-collapse collapse"
                         data-bs-parent="#page-section-accordion">
                        <div class="accordion-body">
                            <label for="section-name-{{ section.id }}">Name</label>
                            <input type="text" id="section-name-{{ section.id }}" name="section-name-{{ section.id }}"
                                   class="simsy-input" value="{{ section.name }}">

                            <label for="section-description-{{ section.id }}">Description</label>
                            <textarea id="section-description-{{ section.id }}"
                                      name="section-description-{{ section.id }}"
                                      class="simsy-input">{{ section.description }}</textarea>

                            <fieldset class="simsy-section">
                                <legend>Blocks</legend>

                                {{ render(path('simsy_cms_block_select', { sectionId: section.id })) }}
                            </fieldset>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="btn btn-primary float-end mt-3" id="page-section-add">Add section</div>
    </fieldset>
{% endif %}

<button type="submit" class="btn btn-primary float-end">Save</button>
{{ form_end(form) }}